<table class="ui table">
  <thead>
    <tr>
      <th>Appliance</th>
      <th>Usage</th>
      <th>Duration</th>
      <th>Cost per Hour</th>
      <th>Total Cost</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each property.readings}}
      <tr>
        <td>
          {{appliance}}
        </td>
        <td>
          {{usage}}
        </td>
        <td>
          {{duration}}
        </td>
        <td>
          {{rate}}
        </td>
        <td>
          {{cost}}
        </td>

        <td>
          <a href="/reading/{{../property.id}}/editreading/{{id}}" class="ui icon button">
            <i class="blue pencil alternate icon"></i>
          </a>
        </td>
        <td>
          <a href="/property/{{../property.id}}/deletereading/{{id}}" class="ui red icon button">
            <i class="icon trash"></i></a>
        </td>
      </tr>
    {{/each}}
</tbody>
</table>